@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bungkus {
    @apply px-4 mt-10 md:mx-10 w-full;
  }
  .cardnomor {
    @apply bg-Dark10 p-3 w-full flex flex-col items-center justify-center;
  }
  .button-kotak {
    @apply px-3 py-2 rounded-md bg-biru hover:bg-hoverbtn transition-all duration-300;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-[20px] md:text-[22px] font-Elegant;
  }
  svg {
    @apply w-6 h-6 fill-biru;
  }

  .profil {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
  }
  .content-reason {
    @apply bg-Dark10 p-3 flex flex-1 flex-col gap-4 rounded-md;
  }
  /* learn */
  .content {
    @apply bg-Dark10 p-3 flex flex-col gap-4 rounded-md;
  }

  /* tailwind gallery */
  .card-gallery {
    @apply border-2 border-white rounded-md p-2 flex flex-col gap-2 flex-1 min-w-[300px] max-w-[500px];
  }
  .content-gallery {
    @apply bg-Dark10 p-3 rounded-md flex flex-col gap-2;
  }
  .icon-gallery {
    @apply hover:bg-hoverbtn p-2 rounded-md border-2 transition-all duration-150;
  }
  /* end tailwind gallery*/
  /* custom scroll gallery dan muallim */
  .custom-scrollbar::-webkit-scrollbar {
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #15ff00;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #000000;
  }
  /* end custom scroll gallery dan muallim*/

  /* start custom scroll body */
  .custom-scrollbar-body::-webkit-scrollbar {
    height: 5px;
    width: 7px;
  }
  .custom-scrollbar-body::-webkit-scrollbar-thumb {
    background-color: #3fa2f6;
    border-radius: 10px;
  }
  .custom-scrollbar-body::-webkit-scrollbar-track {
    background-color: #000000;
  }
  /* start tailwind question */
  .question {
    @apply bg-Dark10 p-3 px-5 rounded-md flex flex-col gap-5 shadow-lg;
  }
  .btn-quest {
    @apply p-2 border-2 rounded-full hover:bg-teal-900 transition-all duration-200;
  }
  .garis {
    @apply border-biru border;
  }
  .answer {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
  }

  /* end tailwind question */
  /* end custom scroll gallery dan muallim*/
}
